<div class="container">
  <h2 class="my-3">
      国名管理
  </h2>
</div>
<div class="container">
  <%= form_with model: @country, url: dashboard_countries_path, local: true do |f| %>
    <%= f.label :name, "国名登録", class:"mr-3" %>
    <%= f.text_field :name%>
    <%= f.submit "登録" %>
  <% end %>

  <table class="table table-hover mt-5">
    <tbody>
      <% @countries.each do |country| %>
        <tr>
          <td><%= country.id %></td>
          <td><%= country.name %></td>
          <td><%= link_to "削除", dashboard_countries_path(country), method: :delete, data: { confirm: '本当に削除しますか？' }, class:"btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
