<div class="container">
  <h2 class="my-3">
      劇場情報管理
  </h2>
</div>
<div class="container">
  <%= form_with model: @place, url: dashboard_places_path, local: true do |f| %>
    <div class="form-group row">
      <%= f.label :name, "劇場名", class:"col-lg-2 offset-lg-1 col-form-label text-left px-0" %>
      <%= f.text_field :name, class: "form-control col-lg-5" %>
    </div>
    <div class="form-group row">
      <%= f.label :address, "住所", class:"col-lg-2 offset-lg-1 col-form-label text-left px-0" %>
      <%= f.text_field :address, class:"form-control col-lg-5" %>
    </div>
    <div class="form-group row">
      <%= f.label :access, "アクセス", class:"col-lg-2 offset-lg-1 col-form-label text-left px-0" %>
      <%= f.text_area :access, class:"form-control col-lg-5" %>
    </div>
    <div class="form-group text-right row">
      <%= f.submit "登録", class:"btn btn-primary mt-3 col-lg-2 offset-lg-6" %>
    </div>
  <% end %>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>劇場名</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @places.each do |place| %>
        <tr>
          <td><%= place.name %></td>
          <td><%= link_to "編集", edit_dashboard_place_path(place), class:"btn btn-outline-secondary" %></td>
          <td><%= link_to "削除", dashboard_place_path(place), method: :delete, data: { confirm: '劇場情報を削除しますが、よろしいですか？' }, class:"btn btn-outline-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
