<div class="container">
  <h2 class="my-3">
      公演情報管理
  </h2>
</div>
<div class="container">
  <%= form_with url: dashboard_stages_path, method: :get, local: true do |f| %>
    <div class="d-flex flex-inline form-group">
      <div class="d-flex align-items-center">
        団体名
      </div>
      <%= f.text_field :keyword, class: "form-control ml-3 w-25" %>
      <%= f.submit "検索", class: "d-flex btn btn-outline-secondary ml-3" %>
    </div>
  <% end %>
  <%= link_to "+ 新規登録", new_dashboard_stage_path, class:"btn btn-outline-primary mt-3 mb-5", style:"font-size: 1.4rem;" %>
  <div class="d-flex">
    <p>合計<%= @total_count%>件</p>
    <%= form_with url: dashboard_stages_path, method: :get, local: true, class:"form-inline ml-2 pb-3" do |f| %>
      <%= f.hidden_field :sort_keyword, value: @keyword %>
      <% if @sorted.present? %>
        <%= f.select :sort, @sort_list, selected: @sorted, onChange: "javascript: this.form.submit();", class:"form-inline ml-2" %>
      <% else %>
        <%= f.select :sort, @sort_list, {}, onChange: "javascript: this.form.submit();", class:"form-inline ml-2" %>
      <% end %>
    <% end %>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>承認</th>
        <th>題名</th>
        <th>開演日</th>
        <th>終演日</th>
        <th>団体</th>
        <th>劇場</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @stages.each do |stage| %>
        <tr>
          <td>
            <%= form_with model: stage, url: dashboard_stage_path(stage), local: true do |f| %>
              <%= f.check_box :request %>
              <%= f.submit "登録", class:"btn btn-sm btn-outline-secondary" %>
            <% end %>
          </td>
          <td><%= stage.theater.title %></td>
          <td><%= stage.start_date.mon %>月<%= stage.start_date.day %>日</td>
          <td><%= stage.end_date.mon %>月<%= stage.end_date.day %>日</td>
          <td><%= stage.company %></td>
          <td><%= stage.place&.name %></td>
          <td><%= link_to "編集", edit_dashboard_stage_path(stage), class:"btn btn-outline-secondary" %></td>
          <td><%= link_to "削除", dashboard_stage_path(stage), method: :delete, data: { confirm: '公演情報を削除しますが、よろしいですか？' }, class:"btn btn-outline-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @stages %>
</div>
