<div class="ml-3 mt-4" style="font-size: 1rem;">

  <h2 class="text-secondary" style="font-size: 1.5rem;">戯曲情報管理</h2>
  <div class="d-flex flex-column mb-3">
    <ul class="pl-4">
      <li><%= link_to "戯曲一覧", dashboard_theaters_path,  class:"text-dark" %></li>
      <li><%= link_to "戯曲情報登録", new_dashboard_theater_path,  class:"text-dark" %></li>
    </ul>
  </div>

  <h2 class="text-secondary" style="font-size: 1.5rem;">公演情報管理</h2>
  <div class="d-flex flex-column mb-3">
    <ul class="pl-4">
      <li><%= link_to "公演情報一覧", dashboard_stages_path, class:"text-dark" %></li>
      <li><%= link_to "公演情報登録", new_dashboard_stage_path, class:"text-dark" %></li>
    </ul>
  </div>

  <h2 class="text-secondary" style="font-size: 1.5rem;">劇場情報管理</h2>
  <div class="d-flex flex-column mb-3">
    <ul class="pl-4">
      <li><%= link_to "劇場情報一覧", dashboard_places_path, class:"text-dark" %></li>
      <li><%= link_to "劇場情報登録", new_dashboard_place_path, class:"text-dark" %></li>
    </ul>

  </div>

  <h2 style="font-size: 1.5rem;">AD & WS 管理</h2>
  <div class="d-flex flex-column mb-3">
    <label class="">劇場一覧</label>
    <label class="">劇場情報登録</label>
  </div>

  <h2 style="font-size: 1.5rem;">映画情報管理</h2>
  <div class="d-flex flex-column mb-3">
    <label class="">映画一覧</label>
    <label class="">映画情報登録</label>
  </div>

  <h2 style="font-size: 1.5rem;">その他</h2>
  <div class="d-flex flex-column mb-3">
    <ul class="pl-4">
      <li>新着情報管理</li>
      <li><%= link_to "ユーザー管理", dashboard_users_path, class:"text-dark" %></li>
      <li>管理者一覧</li>
    </ul>
  </div>
</div>