<div class="container p-0 w-50 text-center ">
  <div class="row">
      <h2 class="mt-5 mb-lg-3 offset-lg-1">ログイン</h2>
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="form-group row">
      <% if alert %>
        <strong class="error-text">メールアドレスが正しくない可能性があります。</strong>
      <% end %>
    </div>
    <div class="form-group row my-2">
      <%= f.label :email, "Email", class:"col-lg-4 offset-lg-1 col-form-label text-left px-0" %>
      <%= f.email_field :email, autofocus: true, required: "required", autocomplete: "email", class:"form-control col-lg-6" %>
    </div>
    <div class="form-group row">
      <% if alert %>
        <strong class="error-text">パスワードが正しくない可能性があります。</strong>
      <% end %>
    </div>
    <div class="form-group row my-2">
      <%= f.label :password, "Password", class:"col-lg-4 offset-lg-1 col-form-label text-left px-0" %>
      <%= f.password_field :password, autofocus: "true", autocomplete: "current-password", class:"form-control col-lg-6" %>
    </div>
    <% if devise_mapping.rememberable? %>
      <div class="form-check mt-3 row text-left p-0">
        <%= f.check_box :remember_me, class: "offset-lg-1" %>
        <%= f.label :remember_me, "次回から自動的にログインする", class: "" %>
      </div>
    <% end %>
    <div class="form-group text-right row">
        <%= f.submit "ログイン", class: "btn btn-primary mt-3 col-lg-3 offset-lg-8" %>
    </div>
    <div class="row">
      <%= render "users/shared/links" %>
    </div>
  <% end %>
</div>