<div class="card-header pl-4">
  <% if movie.production.present? %>
    <%= movie.production.year %>年 / 
  <% end %>
  <% if movie.screen_time.present? %>
    <%= movie.screen_time %>分 / 
  <% end %>
  <%= movie.country.name %>
</div>
<div class="card-body pl-4">
  <%= link_to movie_path(movie), class:"text-dark text-decoration-none", data: { "turbolinks" => false } do %>
    <h2 class="mt-3 card-title">
      <strong><%= movie.title %></strong>
      <% if movie.recommend %>
        <label style="color: #FC8300; font-size: 1.4rem;">
          <i class="fas fa-certificate mr-1"></i>おすすめ
        </label>
      <% end %>
    </h2>
    <p class="card-text"><strong><%= movie.sub_title %></strong></p>
  <% end %>
  <div class="mt-4" style="color: #FC8300;">
    <i class="fas fa-star"></i>
    <% if movie.reviews.pluck(:rate).present? %>
      <%= movie.reviews.pluck(:rate).sum / movie.reviews.pluck(:rate).size %>
    <% else %>
      -
    <% end %>
  </div>
  <p class="mt-3">監督 : <%= movie.supervision %></p>
  <% movie.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag), class:"border rounded py-2 px-3 mr-3 d-inline-block my-3 text-secondary text-decoration-none" %>
  <% end %>
</div>
<div class="card-footer d-flex pl-4">
  <%= link_to favorite_movie_path(movie), method: :post, remote: true, style:"color: #4CA2FF;" do %>
    <div class="favorite-movie-<%= movie.id %>">
      <%= render partial: "movies/favorite", locals: {movie: movie} %>
    </div>
  <% end %>
  <div class="review-movie-<%= movie.id %>">
    <div class="d-flex">
      <% if review.nil? %>
        <div style="cursor:pointer; color: #4CA2FF;" data-toggle="modal" data-target="#reviewModal<%= movie.id %>">
          <i class="far fa-check-circle ml-4"></i>
          <span class="ml-1 mb-0"><%= movie.reviews.size %></span>
        </div>
      <% else %>
        <%= link_to review_path(review, review_page: request.url), method: :delete, data: { confirm: 'レビューを削除します' }, style:"color: #4CA2FF;" do %>
          <i class="fas fa-check-circle ml-4"></i>
          <span class="ml-1 mb-0"><%= movie.reviews.size %></span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= form_with model: movie.reviews.new, url: movie_reviews_path(movie) do |f| %>
  <%= render partial: "reviews/modal", locals: {review: movie, review_title: movie, f: f} %>
<% end %>