<div class="form-group row">
  <%= f.label :title, "タイトル", class:"col-lg-3 offset-lg-2 col-form-label text-left px-0" %>
  <%= f.text_field :title, class:"form-control col-lg-5" %>
</div>
<div class="form-group row">
  <%= f.label :sub_title, "サブタイトル", class:"col-lg-3 offset-lg-2 col-form-label text-left px-0" %>
  <%= f.text_field :sub_title, class:"form-control col-lg-5" %>
</div>
<div class="form-group row">
  <%= f.label :country_id, "製作国", class:"col-lg-3 offset-lg-2 col-form-label text-left px-0" %>
  <%= f.collection_select(:country_id, @countries, :id, :name, {prompt:""}, {class:"form-control col-lg-5"}) %>
</div>
<div class="form-group row">
  <%= f.label :production, "製作年", class:"col-lg-3 offset-lg-2 col-form-label text-left px-0" %>
  <%= f.date_select :production, {discard_month: true, start_year: 1900}, class:"form-control col-lg-5" %>
</div>
<div class="form-group row">
  <%= f.label :supervision, "監督", class:"col-lg-3 offset-lg-2 col-form-label text-left px-0" %>
  <%= f.text_field :supervision, class:"form-control col-lg-5" %>
</div>