<div class="card-header pl-4">
  <% if movie.production.present? %>
    <%= movie.production.year %>年 / 
  <% end %>
  <% if movie.screen_time.present? %>
    <%= movie.screen_time %>分 / 
  <% end %>
  <%= movie.country.name %>
</div>
<div class="card-body pl-4">
  <%= link_to movie_path(movie), class:"text-dark text-decoration-none", data: { "turbolinks" => false } do %>
    <h2 class="mt-3 card-title">
      <strong><%= movie.title %></strong>
      <% if movie.recommend %>
        <label style="color: #FC8300; font-size: 1.4rem;">
          <i class="fas fa-certificate mr-1"></i>おすすめ
        </label>
      <% end %>
    </h2>
    <p class="card-text"><strong><%= movie.sub_title %></strong></p>
  <% end %>
  <div class="mt-4" style="color: #FC8300;">
    <i class="fas fa-star"></i>
    <% if movie.reviews.pluck(:rate).present? %>
      <%= movie.reviews.pluck(:rate).sum / movie.reviews.pluck(:rate).size %>
    <% else %>
    0
    <% end %>
  </div>
  <p class="mt-3">監督 : <%= movie.supervision %></p>
  <% movie.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag), class:"border rounded py-2 px-3 mr-3 d-inline-block my-3 text-secondary text-decoration-none" %>
  <% end %>
</div>