<div class="container">
  <div class="row">
    <div class="d-none d-lg-block col-lg-2">
      <%= render partial: "movies/sidebar" %>
    </div>
    <div class="col-lg-10">
      <h2 class="mt-5 mb-3 text-dark p-3 d-inline-block rounded border border-dark">
        <i class="fas fa-film"></i>
        <% if @country.present? %>
          <%= @country.name %>の映画
        <% else %>
          映画一覧
        <% end %>
      </h2>

      <div class="d-flex flex-inline">
        <%= form_with url: movies_path, method: :get, local: true, class:"d-flex pb-3" do |f| %>
          <%= f.text_field :keyword, placeholder:"作品名・監督名", class: "w-75" %>
          <%= f.submit "検索", class: "btn btn-outline-secondary ml-3" %>
        <% end %>
        <p class="align-items-center ml-3 mt-1">合計<%= @total_count%>件</p>
      </div>

      <%= form_with url: movies_path, method: :get, local: true, class:"form-inline pb-3" do |f| %>
        <% if @country.present? %>
          <%= f.hidden_field :sort_country, value: @country.id %>
        <% end %>
        <%= f.hidden_field :sort_keyword, value: @keyword %>
        <% if @sorted.present? %>
          <%= f.select :sort, @sort_list, selected: @sorted, onChange: "javascript: this.form.submit();", class:"form-inline" %>
        <% else %>
          <%= f.select :sort, @sort_list, {}, onChange: "javascript: this.form.submit();", class:"form-inline" %>
        <% end %>
      <% end %>
      
      <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3">
        <% @movies.each do |movie| %>
          <div class="col mb-4">
            <div class="card h-100 shadow-sm">
              <%= render partial: "posts/movie", locals: {post: movie} %>
            </div>
          </div>
        <% end %>
      </div>

      <%= paginate @movies %>
      <div type="button" class="btn btn-primary btn-lg float-right position-fixed rounded" style="bottom:10vh; right:5vw;" data-toggle="modal" data-target="#newModal">
        <i class="fas fa-pen fa-lg mr-md-2"></i>
        <label class="d-none d-md-inline">新しく映画を登録</label>
      </div>
      <%= render partial: "movies/new_modal" %>
    </div>
  </div>
</div>