<div class="container">
  <div class="row">
    <div class="d-none d-lg-block col-lg-3">
      <%= render partial: "movies/sidebar" %>
    </div>
    <div class="col-lg-9">
      <div class="d-flex align-items-end">
        <h2 class="mt-5 mb-3 text-light p-3 d-inline-block rounded" style="background-color: #4CA2FF;">
          <i class="fas fa-film"></i>
          <% if @country.present? %>
            <%= @country.name %>の映画
          <% else %>
            映画一覧
          <% end %>
        </h2>
        <%= form_with url: movies_path, method: :get, local: true, class:"form-inline ml-3 pb-3" do |f| %>
          <% if @country.present? %>
            <%= f.hidden_field :sort_country, value: @country.id %>
          <% end %>
          並び替え
          <% if @sorted.present? %>
            <%= f.select :sort, @sort_list, selected: @sorted, onChange: "javascript: this.form.submit();", class:"form-inline ml-2" %>
          <% else %>
            <%= f.select :sort, @sort_list, {}, onChange: "javascript: this.form.submit();", class:"form-inline ml-2" %>
          <% end %>
        <% end %>
      </div>
      
      <div class="row row-cols-3">
        <% @movies.each do |movie| %>
          <div class="col mb-4">
            <div class="card h-100 shadow-sm">
              <div class="card-header">
                <%= Country.find(movie.country_id).name %>
                <div class="float-right">
                  <%= movie.production.year %>
                </div>
              </div>
              <div class="card-body">
                <%= link_to movie_path(movie), class:"text-decoration-none", style:"color: #FF8300;" do %>
                  <p class="card-title" style="font-size: 1.8rem;"><%= movie.title %></p>
                  <p class="card-title"><%= movie.sub_title %></p>
                <% end %>
                <p class="card-text"></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <%= paginate @movies %>
      <%= link_to "新しく映画を登録", new_movie_path, class:"btn btn-primary w-25 my-5" %>
    </div>
  </div>
</div>