<div class="container w-50">
    <h2 class="mt-5 mb-3 text-light p-3 d-inline-block rounded" style="background-color: #4CA2FF;">
      <i class="fas fa-heart"></i>
      お気に入り
    </h2>
    <table class="table table-hover">
      <tbody>
        <% @favorites.each do |favorite| %>
          <tr>
            <td scope="row" ><%= link_to theater_path(favorite), class:"text-dark" do %><%= favorite.title %><% end %></td>
            <td class="d-none d-sm-table-cell"><%= favorite.writer %></td>
            <td class="d-none d-sm-table-cell">
              <%= link_to favorite_theater_path(favorite), method: :post, class:"btn text-light", style:"background-color: #FF8300;" do %>
                <i class="fa fa-heart"></i><%= current_user.likes?(favorite) ? "お気に入り解除" : "お気に入り" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>