<div class="container">
  <h2 class="mt-4 mb-3 text-light p-3 d-inline-block rounded" style="background-color: #4CA2FF;">
    <i class="fas fa-star"></i>
    お気に入り
  </h2>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to "#", remote: true do %>
        <div id="nav-theater" class="nav-link active text-secondary" href="#">
          <i class="fas fa-book-open"></i>
          戯曲
        </div>
      <% end %>
    </li>
    <li class="nav-item">
      <a id="nav-stage" class="nav-link text-secondary" href="#">
        <i class="fas fa-theater-masks"></i>
        舞台
      </a>
    </li>
    <li class="nav-item">
      <%= link_to "#", remote: true do %>
        <div id="nav-movie" class="nav-link text-secondary">
          <i class="fas fa-film"></i>
          映画
      </div>
      <% end %>
    </li>
  </ul>
  <div id="favorite-content">
    <%= render "users/favorites/theater" %>
  </div>
</div>

<script>
  $("#nav-movie").on('click', function() {
    $(".nav-link").removeClass("active");
    $("#nav-movie").addClass("active");
    $("#favorite-content").html("<%= j(render "users/favorites/movie") %>");
  });
  $("#nav-theater").on('click', function() {
    $(".nav-link").removeClass("active");
    $("#nav-theater").addClass("active");
    $("#favorite-content").html("<%= j(render "users/favorites/theater") %>");
  });
</script>