<div class="container">
  <h2 class="mt-5 mb-3 text-light p-3 d-inline-block rounded" style="background-color: #4CA2FF;">
    <i class="fas fa-star"></i>
    お気に入り
  </h2>

  <div class="row row-cols-4">
    <% @favorites_theater.each do |theater| %>
      <div class="col mb-4">
        <div class="card h-100 shadow-sm">
          <div class="card-header">
            <%= Country.find(theater.country_id).name %>
            <div class="float-right">
              <% if theater.man.nil? && theater.female.nil? %>
                <%= link_to "未登録", edit_theater_path(theater), class:"badge badge-pill badge-warning text-light py-2", style:"background-color: #FF8300;" %>
              <% else %>
                男<%= theater.man%>
                女<%= theater.female%>
              <% end %>
            </div>
          </div>
          <div class="card-body">
            <%= link_to theater_path(theater) do %>
              <p class="card-title text-dark" style="font-size:1.8rem;"><%= theater.title %></p>
            <% end %>
            <p class="card-text"><%= theater.writer %></p>
          </div>
          <div class="card-footer">
            <%= link_to favorite_theater_path(theater), method: :post, style:"color: #FF8300;" do %>
              <% if current_user.likes?(theater) %>
                <i class="fas fa-star"></i>
              <% else %>
                <i class="far fa-star"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row row-cols-4">
    <% @favorites_movie.each do |movie| %>
      <div class="col mb-4">
        <div class="card h-100 shadow-sm">
          <div class="card-header">
            <%= Country.find(movie.country_id).name %>
            <div class="float-right">
              <%= movie.production.year %>
            </div>
          </div>
          <div class="card-body">
            <%= link_to movie_path(movie), class:"text-decoration-none text-dark" do %>
              <p class="card-title" style="font-size: 1.8rem;"><%= movie.title %></p>
              <p class="card-title"><%= movie.sub_title %></p>
            <% end %>
            <p class="card-text"></p>
          </div>
          <div class="card-footer">
            <%= link_to favorite_movie_path(movie), method: :post, style:"color: #FF8300;" do %>
              <% if current_user.likes?(movie) %>
                <i class="fas fa-star"></i>
              <% else %>
                <i class="far fa-star"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>