<div class="container" style="margin-top:12vh;">

  <div class="row justify-content-center">
    <div class="col-10 col-md-6">
      <%= form_with url: mypage_users_path, local: true, method: :put do |f| %>
        <div class="form-group">
          <div class="d-flex justify-content-between">
            <%= f.label "画像", class:"text-md-left" %>
            <%= f.label "編集", for:"user_image", class:"btn btn-outline-secondary" %>
            <%= f.file_field :image, {onchange: "javascript: handleImage(this.files);", id:"user_image", style:"display: none;"} %>
          </div>
          <div class="d-flex justify-content-between align-items-end">
            <% if @user.image.attached? %>
              <%= image_tag @user.image, id:"user-image-preview", class:"img-fluid", style:"height: 9.6rem;" %>
            <% else %>
              <img src="#" id="user-image-preview">
            <% end %>
            <%= f.submit "保存", class:"btn btn-primary h-50 d-none" %>
          </div>
        </div>

        <hr>

        <div class="form-group">
          <div class="d-flex justify-content-between">
            <%= f.label :name, "名前", class: "text-md-left" %>
            <span onclick="switchEditUserInfo('.userName', '.editUserName', '.userNameEditLabel');" class="userNameEditLabel user-edit-label btn btn-outline-secondary">
              編集
            </span>
          </div>
          <div class="collapse show userName">
            <h2><%= @user.name %></h2>
          </div>
          <div class="collapse editUserName">
            <%= 
              f.text_field :name, class:"form-control", value: @user.name, autofocus:"true",
              required: "", autocomplete: "name", class: "mt-3 w-100"
            %>
            <%= f.submit "保存", class: "btn btn-primary mt-3 w-25" %>
            <% if @user.errors.messages[:name].present? %>
              <span class="error-text" role="alert">
                <strong>氏名を入力してください</strong>
              </span>
            <% end %>
          </div>
        </div>
        
        <hr>

        <div class="form-group">
          <div class="d-flex justify-content-between">
            <%= f.label :sex, "性別", class: "text-md-left" %>
          </div>
          <div>
            <h2><%= @user.sex %></h2>
          </div>
        </div>
        
        <hr>

        <div class="form-group">
          <div class="d-flex justify-content-between">
            <%= f.label :birthday, "生年月日", class: "text-md-left" %>
          </div>
          <div>
            <h2><%= @user.birthday %></h2>
          </div>
        </div>

        <hr>
      
        <div class="form-group">
          <div class="d-flex justify-content-between">
            <%= f.label :email, "メールアドレス", class: "text-md-left" %>
            <span onclick="switchEditUserInfo('.userMail', '.editUserMail', '.userMailEditLabel');" class="userMailEditLabel user-edit-label btn btn-outline-secondary">
              編集
            </span>
          </div>
          <div class="collapse show userMail">
            <h2><%= @user.email %></h2>
          </div>
          <div class="collapse editUserMail">
            <%= 
              f.email_field :email, class:"form-controle", autofocus: "true", required: "",
              value: @user.email, autocomplete: "email", placeholder: "メールアドレスを入力", class: "mt-3 w-100"
            %>

            <%= f.submit "保存", class: "btn btn-primary mt-3 w-25" %>

            <% if @user.errors.messages[:email].present? %>
              <span class="invalid-feedback" role="alert">
                <strong>メールアドレスを入力してください</strong>
              </span>
            <% end %>
          </div>
        </div>

        <hr>

        <div class="form-group">
          <div class="d-flex justify-content-between">
            <%= f.label :profile, "プロフィール", class: "text-md-left" %>
            <span onclick="switchEditUserInfo('.userProfile', '.editUserProfile', '.userProfileEditLabel');" class="userProfileEditLabel user-edit-label btn btn-outline-secondary">
              編集
            </span>
          </div>
          <div class="collapse show userProfile">
            <h2><%= @user.profile %></h2>
          </div>
          <div class="collapse editUserProfile">
            <%=
              f.text_area :profile, class:"form-controle", autofocus: "true",
              value: @user.profile, class: "mt-3 w-100"
            %>
            <%= f.submit "保存", class: "btn btn-primary mt-3 w-25" %>
          </div>
        </div>

        <hr>

      <% end %>

      <div class="form-group">
        <div class="d-flex justify-content-end">
          <%= link_to "パスワード変更", mypage_edit_password_users_path, class:"mt-1 btn btn-outline-warning" %>
        </div>
      </div>


      <div class="form-group">
        <%= form_with model: @user, url: mypage_delete_users_path, method: :delete, local: true do |f| %>
          <div class="btn btn-outline-danger float-right mt-4" data-toggle="modal" data-target="#delete-user-confirm-modal">退会する</div> 
          <div class="modal fade" id="delete-user-confirm-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <p class="modal-title ml-3 mt-3" id="staticBackdropLabel"><label>本当に退会しますか？</label></p>
                  <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p class="ml-3 mt-3">退会するとデータは全て削除され、復旧はできません。</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-secondary mr-2" data-dismiss="modal">キャンセル</button>
                  <%= f.submit "退会する", class: "btn btn-danger"%>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>

    </div>
  </div>

</div>

<%= javascript_pack_tag "users/image"%>

<script type="text/javascript">
  let switchEditUserInfo = (textClass, inputClass, labelClass) => {
      if ($(textClass).css('display') == 'block') {
          $(labelClass).text("キャンセル");
          $(textClass).removeClass('show');
          $(inputClass).addClass('show');
      } else {
          $(labelClass).text("編集");
          $(textClass).addClass('show');
          $(inputClass).removeClass('show');
      }
  }

  $("#user_image").on("change", function(){
    $(".d-none").removeClass("d-none");
  });
</script>