<div class="container" style="margin-top:9vh;">
  <h2 class="mt-4 mb-3 text-dark p-3 d-inline-block rounded border border-dark">
    <i class="fas fa-check-circle"></i>
    レビュー
  </h2>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to "#", remote: true do %>
        <div id="nav-stage" class="nav-link active text-secondary" href="#">
          <i class="fas fa-theater-masks"></i>
          舞台
        </div>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to "#", remote: true do %>
        <div id="nav-movie" class="nav-link text-secondary">
          <i class="fas fa-film"></i>
          映画
      </div>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to "#", remote: true do %>
        <div id="nav-theater" class="nav-link text-secondary" href="#">
          <i class="fas fa-book-open"></i>
          戯曲
        </div>
      <% end %>
    </li>
  </ul>
  <div class="row" id="reviews-content">
    <%= render "users/reviews/stage" %>
  </div>
</div>

<script>
  $("#nav-movie").on('click', function() {
    $(".nav-link").removeClass("active");
    $("#nav-movie").addClass("active");
    $("#reviews-content").html("<%= j(render "users/reviews/movie") %>");
  });
  $("#nav-theater").on('click', function() {
    $(".nav-link").removeClass("active");
    $("#nav-theater").addClass("active");
    $("#reviews-content").html("<%= j(render "users/reviews/theater") %>");
  });
  $("#nav-stage").on('click', function() {
    $(".nav-link").removeClass("active");
    $("#nav-stage").addClass("active");
    $("#reviews-content").html("<%= j(render "users/reviews/stage") %>");
  });

  let switchEditReview = (textClass, inputClass, labelClass) => {
      if ($(textClass).css('display') == 'block') {
          $(labelClass).text("キャンセル");
          $(textClass).removeClass('show');
          $(inputClass).addClass('show');
      } else {
          $(labelClass).text("編集");
          $(textClass).addClass('show');
          $(inputClass).removeClass('show');
      }
  }
</script>