<% @favorites_theater.each do |theater| %>
  <div class="col mb-4">
    <div class="card h-100 shadow-sm">
      <div class="card-header">
        <%= theater.country.name %>
        <div class="float-right">
          <% if theater.man.nil? && theater.female.nil? %>
            <%= link_to "未登録", edit_theater_path(theater), class:"badge badge-pill badge-warning text-light py-2", style:"background-color: #FF8300;" %>
          <% else %>
            男<%= theater.man%>
            女<%= theater.female%>
          <% end %>
        </div>
      </div>
      <div class="card-body">
        <%= link_to theater_path(theater) do %>
          <p class="card-title text-dark" style="font-size:1.8rem;"><%= theater.title %></p>
        <% end %>
        <p class="card-text"><%= theater.writer %></p>
      </div>
      <div class="card-footer d-flex">
        <%= link_to favorite_theater_path(theater), method: :post, remote: true, style:"color: #FF8300;" do %>
          <div class="favorite-theater-<%= theater.id %>">
            <%= render partial: "theaters/favorite", locals: {theater: theater} %>
          </div>
        <% end %>
        <div class="review-theater-<%= theater.id %>">
          <div class="d-flex">
            <% if review_present?(current_user, theater) %>
              <div type="button" style="color: #FF8300;" data-toggle="modal" data-target="#reviewModal<%= theater.id %>">
                <i class="far fa-check-circle ml-4"></i>
              </div>
            <% else %>
              <%= link_to theater_review_path(theater.id, current_user), method: :delete, data: { confirm: 'レビューを削除します' } do %>
                <i class="fas fa-check-circle ml-4" style="color: #FF8300;"></i>
              <% end %>
            <% end %>
            <p class="ml-2 mb-0" style="color: #FF8300;"><%= theater.reviews.count %></p>
          </div>
          <%= form_with model: theater.reviews.new, url: theater_reviews_path(theater) do |f| %>
            <%= render partial: "posts/review", locals: {post: theater, post_title: theater, f: f} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>