<div class="col-sm-6 mt-3">
  <div class="card shadow-sm mt-3">
    <div class="card-header">
      <i class="fas fa-theater-masks fa-2x mx-2 mt-2"></i>
      <i class="fas fa-check-circle mr-1 fa-lg" style="color: #FF8300"></i>
      My Review
    </div>
    <% if @reviews_stage.present? %>
      <% @reviews_stage.each do |review| %>
        <div class="card shadow m-3">
          <div class="card-header">
            <%= review.updated_at.mon %> 月
            <%= review.updated_at.day %> 日
          </div>
          <div class="card-body d-flex justify-content-between">
            <div class="mt-2 ml-2">
              <%= form_with model: review, url: stage_review_path(review.stage, review), local: true, method: :put do |f| %>
                <div class="collapse show userReview<%= review.id %>">
                  <%= review.content %>
                </div>
                <div class="collapse editUserReview<%= review.id %>">
                  <%=
                    f.text_area :content, size: "20x5", autofocus: "true", value: review.content, class:"form-control mr-2"
                  %>
                  <%= f.hidden_field :review_page, value: request.url %>
                  <%= f.submit "更新", class:"btn btn-primary mt-3 float-right" %>
                </div>
              <% end %>
            </div>
            <div>
              <div class="card h-100 shadow-sm" style="width: 18rem;">
                <%= render partial: "posts/stage", locals: {post: review.stage} %>
              </div>
            </div>
          </div>
          <div class="card-footer text-right">
            <span onclick="switchEditReview('.userReview<%= review.id %>', '.editUserReview<%= review.id %>', '.userReviewEditLabel<%= review.id %>');" class="userReviewEditLabel<%= review.id %> user-edit-label btn btn-outline-secondary">
              編集
            </span>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="text-center mt-4">投稿したレビューがありません。</p>
    <% end %>
  </div>
</div>
<div class="col-sm-6 mt-3">
  <div class="card shadow-sm mt-3">
    <div class="card-header">
      <i class="fas fa-heart fa-2x mx-2 mt-2"></i>
      <i class="fas fa-check-circle mr-1 fa-lg" style="color: #FF8300"></i>
      My Like
    </div>
    <% if @likes_stage.present? %>
      <% @likes_stage.each do |review| %>
        <div class="card shadow m-3">
          <div class="card-header">
            <%= review.updated_at.mon %> 月
            <%= review.updated_at.day %> 日
          </div>
          <div class="card-body d-flex justify-content-between">
            <div>
              <%= link_to user_path(review.user), class:"text-decoration-none mt-2 ml-2" do %>
                <% if review.user.image.present? %>
                  <%= image_tag review.user.image, class:"rounded-circle", style:"width: 3.0rem; height: 3.0rem;" %>
                <% else %>
                  <i class="fas fa-user mx-2 pt-1" style="font-size: 2.0rem;"></i>
                <% end %>
                <label class="text-secondary"><%= review.user.name %></label>
              <% end %>
              <p class="ml-3 mt-3"><%= review.content %></p>
            </div>
            <div class="card h-100 shadow-sm" style="width: 18rem;">
              <%= render partial: "posts/stage", locals: {post: review.stage} %>
            </div>
          </div>
          <div class="card-footer">
            <%= link_to favorite_stage_review_path(review.stage, review), method: :post, remote: true, style:"color: #FF8300;" do %>
              <div id="favorite-review-<%= review.id %>" class="ml-4">
                <%= render partial: "reviews/favorite", locals: {review: review} %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="text-center mt-4">お気に入りのレビューがありません。</p>
    <% end %>
  </div>
</div>