<div class="card-header pl-4 justify-content-between">
  <%= stage.start_date.mon %>月<%= stage.start_date.day %>日(<%= %w(日 月 火 水 木 金 土)[stage.start_date.wday] %>)
  〜
  <% if stage.start_date.mon != stage.end_date.mon %>
    <%= stage.end_date.mon %>月
  <% end %>
  <%= stage.end_date.day %>日(<%= %w(日 月 火 水 木 金 土)[stage.end_date.wday] %>)
  <label class="float-right"><%= stage.place.name %></label>
</div>
<div class="card-body pl-4 pb-0 mb-4 mb-lg-5">
  <% if stage.start_date <= Date.today && stage.end_date >= Date.today %>
    <label class="badge badge-pill badge-warning text-light py-2 px-3 mt-3" style="background-color: #FF8300;">上演中</label>
  <% elsif stage.start_date - Date.today <= 14 && stage.start_date - Date.today > 0 %>
    <label class="badge badge-pill badge-secondary text-light py-2 px-3 mt-3">まもなく</label>
  <% end %>
  <div class="d-flex align-items-end">
    <%= link_to stage_path(stage), data: { "turbolinks" => false }, class:"text-decoration-none" do %>
      <h2 class="card-title text-dark mt-3 mb-0"><strong><%= stage.theater.title %></strong></h2>
    <% end %>
    <p id="company" class="card-text ml-4 mb-1"><%= stage.company %></p>
  </div>
  <p class="mt-3">演出 : <%= stage.director %></p>
  <p class="mt-3 mb-5">作者 : <%= stage.theater.writer %></p>
  <% stage.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag), class:"border rounded py-2 d-inline-block px-3 mb-4 mr-3 text-decoration-none text-secondary" %>
  <% end %>
</div>
<div class="card-footer d-flex pl-4">
  <%= link_to favorite_stage_path(stage), method: :post, remote: true, style:"color: #4CA2FF;" do %>
    <div class="favorite-stage-<%= stage.id %> ml-4">
      <%= render partial: "stages/favorite", locals: {stage: stage} %>
    </div>
  <% end %>
  <div class="review-stage-<%= stage.id %>">
    <div class="d-flex">
      <% if review.nil? %>
        <div style="cursor:pointer; color: #4CA2FF;" data-toggle="modal" data-target="#reviewModal<%= stage.id %>">
          <i class="far fa-check-circle ml-4"></i>
          <span class="ml-1 mb-0"><%= stage.reviews.size %></span>
        </div>
      <% else %>
        <%= link_to review_path(review, review_page: request.url), method: :delete, data: { confirm: 'レビューを削除します' }, style:"color: #4CA2FF;" do %>
          <i class="fas fa-check-circle ml-4"></i>
          <span class="ml-1 mb-0"><%= stage.reviews.size %></span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>