<div class="container">
  <div class="form-group row">
    <div class="col-lg-4 offset-lg-1  px-0">
      <%= f.label :theater_id, "公演名", class:"col-form-label text-left" %>
      <span class="text-danger ml-3">( 必須 )</span>
    </div>
    <%= f.collection_select(:theater_id, @theaters, :id, :title, {prompt:""}, {id:"title", class:"form-control col-lg-6"}) %>
  </div>
  <div class="form-group row">
    <div class="col-lg-4 offset-lg-1 px-0">
      <%= f.label :start_date, "開演日", class:"col-form-label text-left" %>
      <span class="text-danger ml-3">( 必須 )</span>
    </div>
    <%= f.date_select :start_date, {use_month_numbers: true}, class:"form-control col-4 col-lg-2" %>
  </div>
  <div class="form-group row">
    <div class="col-lg-4 offset-lg-1 px-0">
    <%= f.label :end_date, "終演日", class:"col-form-label text-left" %>
    <span class="text-danger ml-3">( 必須 )</span>
    </div>
    <%= f.date_select :end_date, {use_month_numbers: true}, class:"form-control col-4 col-lg-2" %>
  </div>
  <div class="form-group row">
    <div class="col-lg-4 offset-lg-1 px-0">
    <%= f.label :matinee, "時間(マチネ)", class:"col-form-label text-left" %>
    <span class="text-danger ml-3">( 必須 )</span>
    </div>
    <%= f.time_select :matinee, {minute_step: 30, prompt:""}, class:"form-control col-5 col-lg-3" %>
  </div>
  <div class="form-group row">
    <div class="col-lg-4 offset-lg-1 px-0">
    <%= f.label :soiree, "時間(ソワレ)", class:"col-form-label text-left" %>
    <span class="text-danger ml-3">( 必須 )</span>
    </div>
    <%= f.time_select :soiree, {minute_step: 30, prompt:""}, class:"form-control col-5 col-lg-3" %>
  </div>
  <div class="form-group row">
    <div class="col-lg-4 offset-lg-1 px-0">
    <%= f.label :soiree_ids, "夜公演日", class:"col-form-label text-left" %>
    <span class="text-danger ml-3">( 必須 )</span>
    </div>
    <%= f.collection_check_boxes(:soiree_ids, Soiree.all, :id, :performance_date, class:"form-cobntrol col") %>
  </div>
  <div class="form-group row">
    <div class="col-lg-4 offset-lg-1 px-0">
    <%= f.label :tag_ids, "関連タグ", class:"col-form-label text-left" %>
    <span class="text-danger ml-3">( 必須 )</span>
    </div>
    <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name, class:"form-cobntrol col") %>
  </div>
  <div class="form-group row">
    <%= f.label :director, "演出家", class:"col-lg-4 offset-lg-1 px-0 col-form-label text-left" %>
    <%= f.text_field :director, class:"form-control col-lg-6" %>
  </div>
  <div class="form-group row">
    <div class="col-lg-4 offset-lg-1 px-0">
      <%= f.label :company, "公演団体", class:"col-form-label text-left" %>
      <span class="text-danger ml-3">( 必須 )</span>
    </div>
    <%= f.text_field :company, class:"form-control col-lg-6" %>
    <% if @stage.errors.messages[:company].present? %>
      <strong class="error-text text-left offset-lg-1"><%= @stage.errors.full_messages_for(:company).first %></strong>
    <% end %>
  </div>
  <div class="form-group row">
    <%= f.label :quote_url, "引用元URL", class:"col-lg-4 offset-lg-1 px-0 col-form-label text-left" %>
    <%= f.text_field :quote_url, class:"form-control col-lg-6" %>
  </div>

  <div class="form-group row">
    <%= f.label :synopsis, "あらすじ", class:"col-lg-4 offset-lg-1 col-form-label text-left px-0" %>
    <%= f.text_area :synopsis, class:"form-control col-lg-6" %>
  </div>
  <div class="form-group row">
    <%= f.label :place_id, "劇場", class:"col-lg-4 offset-lg-1 col-form-label text-left px-0" %>
    <%= f.collection_select(:place_id, @places, :id, :name, {prompt:""}, {class:"form-control col-lg-6"}) %>
  </div>
</div>