 <div class="card-header pl-4">
  <%= stage.start_date.mon %>月<%= stage.start_date.day %>日(<%= %w(日 月 火 水 木 金 土)[stage.start_date.wday] %>)
  〜
  <% if stage.start_date.mon != stage.end_date.mon %>
    <%= stage.end_date.mon %>月
  <% end %>
  <%= stage.end_date.day %>日(<%= %w(日 月 火 水 木 金 土)[stage.end_date.wday] %>)
</div>
<div class="card-body pl-4 pb-0 mb-4 mb-lg-5">
  <% if stage.start_date <= Date.today && stage.end_date >= Date.today %>
    <label class="badge badge-pill badge-warning text-light py-2 px-4 mt-3" style="background-color: #FF8300;"><h2>上演中</h2></label>
  <% elsif stage.start_date - Date.today <= 14 && stage.start_date - Date.today > 0 %>
    <label class="badge badge-pill badge-primary text-light pt-3 px-4 mt-3">初日まで<h2><%= (stage.start_date - Date.today).to_i %>日</h2></label>
  <% elsif stage.end_date < Date.today %>
    <label class="badge badge-pill badge-secondary text-light py-3 px-4 mt-3">終演しました</h2></label>
  <% end %>
  <div class="d-flex align-items-end">
    <%= link_to stage_path(stage), data: { "turbolinks" => false }, class:"text-decoration-none" do %>
      <h2 class="card-title text-dark mt-3 mb-0"><strong><%= stage.theater.title %></strong></h2>
    <% end %>
    <p id="company" class="card-text ml-4 mb-1"><%= stage.company %></p>
  </div>
  <div class="mt-4" style="color: #FC8300;">
    <i class="fas fa-star"></i>
    <% if stage.reviews.pluck(:rate).present? %>
      <%= stage.reviews.pluck(:rate).sum / stage.reviews.pluck(:rate).size %>
    <% else %>
    0
    <% end %>
  </div>
  <p class="mt-3">演出 : <%= stage.director %></p>
  <p class="mt-3">作者 : <%= stage.theater.writer %></p>
  <p class="mt-3 mb-5">劇場 : <%= stage.place.name %></p>
  <% stage.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag), class:"border rounded py-2 d-inline-block px-3 mb-4 mr-3 text-decoration-none text-secondary" %>
  <% end %>
</div>