<div class="container">
  <div class="row">
    <div class="d-none d-lg-block col-lg-2">
      <%= render partial: "stages/sidebar" %>
    </div>
    <div class="col-lg-10">
      <div class="d-flex align-items-end">
        <h2 class="mt-5 mb-3 text-light p-3 d-inline-block rounded" style="background-color: #4CA2FF;">
          <i class="fas fa-theater-masks"></i>
          公演情報
        </h2>
        <%= form_with url: stages_path, method: :get, local: true, class:"form-inline ml-3 pb-3" do |f| %>
          <% if @sorted.present? %>
            <%= f.select :sort, @sort_list, selected: @sorted, onChange: "javascript: this.form.submit();", class:"form-inline ml-2" %>
          <% else %>
            <%= f.select :sort, @sort_list, {}, onChange: "javascript: this.form.submit();", class:"form-inline ml-2" %>
          <% end %>
        <% end %>
      </div>
      <div class="row row-cols-2 row-cols-md-3">
        <% @stages.each do |stage| %>
          <div class="col mb-4">
            <div class="card h-100 shadow-sm">
              <%= render partial: "posts/stage", locals: {post: stage} %>
            </div>
          </div>
        <% end %>
      </div>
      <%= paginate @stages %>
      <div type="button" class="btn btn-primary w-25 float-right" data-toggle="modal" data-target="#newModal">
        公演情報を登録
      </div>
      <%= render partial: "stages/new_modal" %>
    </div>
  </div>
</div>