<div class="container">
  <div class="row">
    <div class="d-none d-lg-block col-lg-2">
      <%= render partial: "stages/sidebar" %>
    </div>
    <div class="col-lg-10">
      <div class="d-flex align-items-end">
        <h2 class="mt-5 mb-3 text-dark p-3 d-inline-block rounded border border-dark">
          <i class="fas fa-theater-masks"></i>
          公演情報
        </h2>
        <%= form_with url: stages_path, method: :get, local: true, class:"form-inline ml-3 pb-3" do |f| %>
          <% if @sorted.present? %>
            <%= f.select :sort, @sort_list, selected: @sorted, onChange: "javascript: this.form.submit();", class:"form-inline ml-2" %>
          <% else %>
            <%= f.select :sort, @sort_list, {}, onChange: "javascript: this.form.submit();", class:"form-inline ml-2" %>
          <% end %>
        <% end %>
      </div>
      <div class="row row-cols-2 row-cols-md-3">
        <% @stages.each do |stage| %>
          <div class="col mb-4">
            <div class="card h-100 shadow-sm">
              <%= render partial: "stages/card", locals: {stage: stage} %>
            </div>
          </div>
        <% end %>
      </div>
      <%= paginate @stages %>
      <div class="btn btn-lg btn-primary float-right position-fixed rounded p-2" style="bottom:10vh; right:5vw;" data-toggle="modal" data-target="#newModal">
        <i class="fas fa-pen fa-2x mr-md-2"></i>
        <label class="d-none d-md-inline">公演情報を登録</label>
      </div>
      <%= render partial: "stages/new_modal" %>
    </div>
  </div>
</div>