<div class="container w-75">
  <h2 class="mt-5 mb-3 bg-secondary text-light p-3 d-inline-block rounded">公演情報 <i class="fas fa-theater-masks"></i></h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>題名</th>
        <th class="d-none d-sm-table-cell">上演開始日</th>
        <th class="d-none d-sm-table-cell">終演日</th>
        <th>団体</th>
        <th class="d-none d-md-table-cell"></th>
        <th class="d-none d-md-table-cell"></th>
      </tr>
    </thead>
    <tbody>
      <% @stages.each do |stage| %>
        <tr>
          <td scope="row" ><%= link_to stage_path(stage) do %><%= stage.theater_id %><% end %></td>
          <td class="d-none d-sm-table-cell"><%= stage.start_date %></td>
          <td class="d-none d-sm-table-cell"><%= stage.end_date %></td>
          <td><%= stage.group %></td>
          <td class="d-none d-md-table-cell"><%= link_to "編集", edit_stage_path(stage), class:"btn btn-outline-secondary" %></td>
          <td class="d-none d-md-table-cell"><%= link_to "削除", stage_path(stage), method: :delete, data: { confirm: '本当によろしいですか？' }, class:"btn btn-outline-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "公演情報を登録する", new_stage_path, class:"btn btn-primary btn-lg mt-3" %>
</div>
