<div class="container">
  <div class="row">
    <div class="d-none d-lg-block col-lg-2">
      <%= render partial: "stages/sidebar" %>
    </div>
    <div class="col-lg-10">
      <div class="d-flex align-items-end">
        <h2 class="mt-5 mb-3 text-light p-3 d-inline-block rounded" style="background-color: #4CA2FF;">
          <i class="fas fa-theater-masks"></i>
          公演情報
        </h2>
        <%= form_with url: stages_path, method: :get, local: true, class:"form-inline ml-3 pb-3" do |f| %>
          <% if @sorted.present? %>
            <%= f.select :sort, @sort_list, selected: @sorted, onChange: "javascript: this.form.submit();", class:"form-inline ml-2" %>
          <% else %>
            <%= f.select :sort, @sort_list, {}, onChange: "javascript: this.form.submit();", class:"form-inline ml-2" %>
          <% end %>
        <% end %>
      </div>
      <div class="row row-cols-2 row-cols-md-3">
        <% @stages.each do |stage| %>
          <div class="col mb-4">
            <div class="card h-100 shadow-sm">
              <div class="card-header">
                <% if stage.start_date < Date.today && stage.end_date > Date.today %>
                  <label class="badge badge-pill badge-warning text-light py-1" style="background-color: #FF8300;">Now</label>
                <% end %>
                <%= stage.start_date.mon %>月<%= stage.start_date.day %>日
                〜
                <% if stage.start_date.mon != stage.end_date.mon %>
                  <%= stage.end_date.mon %>月
                <% end %>
                <%= stage.end_date.day %>日
              </div>
              <div class="card-body">
                <%= link_to stage_path(stage), class:"text-dark" do %>
                  <h2 class="card-title" style="font-size:1.8rem"><%= Theater.find(stage.theater_id).title %></h2>
                  <label class="card-subtitle text-muted"><%= stage.company %></label>
                <% end %>
              </div>
              <div class="card-footer">
                <%= link_to favorite_stage_path(stage), method: :post, remote: true, style:"color: #FF8300;" do %>
                  <div id="favorite-stage-<%= stage.id %>">
                    <%= render partial: "stages/favorite", locals: {stage: stage} %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <%= paginate @stages %>
      <%= link_to "公演情報を登録", new_stage_path, class:"btn btn-primary btn-lg mt-3" %>
    </div>
  </div>
</div>