<div class="container mt-5 p-sm-0">
  <div class="align-items-end mb-3">
    <h1 class="font-weight-bold d-inline"><%= @stage.theater.title %></h1>
    <label class="ml-2">( <%= @stage.company %> )</label>
    <%= link_to favorite_stage_path(@stage), method: :post, remote: true, class:"ml-4", style:"color: #FF8300;" do %>
      <span class="favorite-stage-<%= @stage.id %>">
        <%= render partial: "stages/favorite", locals: {stage: @stage} %>
      </span>
    <% end %>
    <%= link_to "編集", edit_stage_path(@stage), class:"btn btn-sm btn-outline-secondary ml-4 mb-2" %>
    <% if current_user.id == 1 %>
      <%= link_to "削除", stage_path(@stage), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-sm btn-danger ml-3 mb-2" %>
    <% end %>
  </div>
  <div class="row">
    <div class="col-5 text-left">
      <h2 class="mb-4">
        <%= @stage.start_date.mon %>月<%= @stage.start_date.day %>日
        〜
        <% if @stage.start_date.mon != @stage.end_date.mon %>
          <%= @stage.end_date.mon %>月
        <% end %>
        <%= @stage.end_date.day %>日
      </h2>
      <h2 class=" d-inline">劇場</h2>
      <% if @stage.place.blank? %>
        <%= link_to "未登録", edit_stage_path(@stage), class:"btn btn-lg btn-outline-primary mb-3 ml-2" %>
      <% else %>
        <label class="ml-2"><%= @stage.place.name %></label>
      <% end %>
      <div class="card shadow mt-4">
        <div class="card-header d-flex justify-content-between">
          <label><i class="fas fa-check-circle mr-2" style="color: #FF8300;"></i>My Review</label>
          <% if @my_review.present? %>
            <label class="text-right"><%= @my_review.created_at.mon %>月<%= @my_review.created_at.day %>日</label>
          <% end %>
        </div>
        <% if review_present?(current_user, @stage) %>
          <%= form_with model: @review, url: stage_reviews_path(@stage) do |f| %>
            <div class="card-body">
              <%= f.text_area :content, size: "20x10", class:"form-control mr-2 " %>
            </div>
            <div class="card-footer text-right">
              <%= f.submit "レビュー", class:"btn btn-primary ml-2" %>
            </div>
          <% end %>
        <% else %>
          <div class="card-body">
            <%= form_with model: @my_review, url: stage_review_path(@stage, @my_review), local: true, method: :put do |f| %>
              <div class="collapse show userReview">
                <p class="mt-3"><%= @my_review.content %></p>
              </div>
              <div class="collapse editUserReview">
                <%=
                  f.text_area :content, size: "20x5", autofocus: "true", value: @my_review.content, class:"form-control mr-2"
                %>
                <%= f.submit "更新", class:"btn btn-primary mt-3 float-right" %>
              </div>
            </div>
            <div class="card-footer text-right">
              <span onclick="switchEditUserInfo('.userReview', '.editUserReview', '.userReviewEditLabel');" class="userReviewEditLabel user-edit-label btn btn-outline-secondary">
                編集
              </span>
              <%= link_to  "削除", movie_review_path(@stage.id, current_user), method: :delete, data: { confirm: 'レビューを削除します' }, class:"btn btn-outline-danger" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-6 offset-1">
      <div class="card shadow-sm h-100 mt-5">
        <% if @reviews.present? %>
          <% @reviews.each do |review| %>
            <div class="card shadow">
              <div class="card-header d-flex justify-content-between pt-3 px-3">
                <label><%= review.user.name %></label>
                <label><%= review.created_at.mon %>月<%= review.created_at.day %>日</label>
              </div>
              <div class="card-body">
                <p class="m-5"><%= review.content %></p>
              </div>
            </div>
          <% end %>
        <% else %>
          <p class="text-center mt-4">他のユーザーのレビューはまだありません。</p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  let switchEditUserInfo = (textClass, inputClass, labelClass) => {
      if ($(textClass).css('display') == 'block') {
          $(labelClass).text("キャンセル");
          $(textClass).removeClass('show');
          $(inputClass).addClass('show');
      } else {
          $(labelClass).text("編集");
          $(textClass).addClass('show');
          $(inputClass).removeClass('show');
      }
  }
</script>