<div class="container" style="margin-top:13vh;">
  <div class="align-items-end d-flex justify-content-between border py-3 px-5">
    <div class="align-items-start d-flex">
      <% if @stage.theater.title.length < 8 %>
        <h1 id="title" class="font-weight-bold"><%= @stage.theater.title %></h1>
      <% else %>
        <h2 id="title" class="font-weight-bold"><%= @stage.theater.title %></h2>
      <% end %>
      <%= link_to favorite_stage_path(@stage), method: :post, remote: true, class:"ml-4 mt-2", style:"color: #FF8300;" do %>
        <h2 class="favorite-stage-<%= @stage.id %>">
          <%= render partial: "stages/favorite", locals: {stage: @stage} %>
        </h2>
      <% end %>
    </div>
    <h2 id="company" class="ml-2"><%= @stage.company %></h2>
  </div>
  <% @stage.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag), class:"border rounded py-2 px-3 mr-3 mt-4 d-inline-block text-decoration-none text-secondary" %>
  <% end %>
  <% if current_user.id == 1 %>
    <%= link_to "編集", edit_stage_path(@stage), class:"btn btn-sm btn-outline-secondary ml-3 mt-2" %>
    <%= link_to "削除", stage_path(@stage), method: :delete, data: { confirm: '本当に削除しますか？' }, class:"btn btn-sm btn-danger ml-3 mt-2" %>
  <% end %>
  <div class="row mt-5">
    <div class="col-md-6">
      <div class="card shadow mb-4">
        <div class="card-header d-flex justify-content-between">
          <label><i class="fas fa-check-circle mr-2" style="color: #FF8300;"></i>My Review</label>
          <% if @my_review.present? %>
            <label class="text-right"><%= @my_review.updated_at.mon %>月<%= @my_review.updated_at.day %>日</label>
          <% end %>
        </div>
        <% if @my_review.nil? %>
          <%= form_with model: @new_review, url: stage_reviews_path(@stage) do |f| %>
            <div class="card-body">
              <%= f.label :rate, "評価", class:"mr-1" %>
              <i class="fas fa-star mr-2" style="color: #FC8300;"></i>
              <%= f.number_field :rate, in: 1..5, step: 0.5, class:"w-25 mb-2 form-control d-inline" %>
              <%= f.text_area :content, size: "20x10", class:"form-control mr-2 " %>
            </div>
            <div class="card-footer text-right">
              <%= f.hidden_field :review_page, value: request.url %>
              <%= f.submit "レビュー", class:"btn btn-primary ml-2" %>
            </div>
          <% end %>
        <% else %>
          <div class="card-body">
            <%= form_with model: @my_review, url: review_path(@my_review), local: true, method: :put do |f| %>
              <div class="collapse show userReview">
                <p class="mt-3">
                  <i class="fas fa-star mr-2" style="color: #FC8300;"></i>
                  <%= @my_review.rate %>
                </p>
                <p class="mt-3"><%= @my_review.content %></p>
              </div>
              <div class="collapse editUserReview">
                <div class="d-flex align-items-center">
                  <i class="fas fa-star mr-2 align-content-center mb-2" style="color: #FC8300;"></i>
                  <%= f.number_field :rate, in: 1..5, step: 0.5, class:"w-25 mb-2 form-control" %>
                </div>
                <%=
                  f.text_area :content, size: "20x5", autofocus: "true", value: @my_review.content, class:"form-control mr-2"
                %>
                <%= f.hidden_field :review_page, value: request.url %>
                <%= f.submit "更新", class:"btn btn-primary mt-3 float-right" %>
              </div>
            </div>
            <div class="card-footer text-right">
              <span id="review-edit" class="userReviewEditLabel user-edit-label btn btn-outline-secondary">
                編集
              </span>
              <%= link_to  "削除", review_path(@my_review, review_page: request.url), method: :delete, data: { confirm: 'レビューを削除します' }, class:"btn btn-outline-danger" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-6 card shadow-sm">
      <%= render "reviews/index"%>
    </div>
  </div>
  <div class="mt-5">
    <h2>
      <span style="font-size: 1.4rem;">演出 : </span><%= @stage.director %> <span class="ml-4" style="font-size: 1.4rem;">作者 : </span><%= @stage.theater.writer %>
    </h2>
  </div>
  <div class="mt-5">
    <h2 class="d-inline">あらすじ</h2>
    <label id="company" class="text-decoration-none">( 引用元: <%= link_to @stage.company + "公式サイト", @stage.quote_url, id:"company" %> )</label>
    <hr>
    <blockquote class="blockquote">
      <p class="mt-2"><%= @stage.synopsis %></p>
    </blockquote>
  </div>
  <div class="row">
    <div class="col-lg-5 col text-left mt-3 mt-lg-5">
      <h2 class="d-none d-md-block">
        <%= @stage.start_date.mon %>月<%= @stage.start_date.day %>日<span style="font-size: 2.1rem;">(<%= %w(日 月 火 水 木 金 土)[@stage.start_date.wday] %>)</span>
        〜
        <% if @stage.start_date.mon != @stage.end_date.mon %>
          <%= @stage.end_date.mon %>月
        <% end %>
        <%= @stage.end_date.day %>日<span style="font-size: 2.1rem;">(<%= %w(日 月 火 水 木 金 土)[@stage.end_date.wday] %>)</span>
      </h2>
      <% if @stage.matinee.present? %>
        <table class="table mt-5">
          <thead>
            <tr>
              <th></th>
              <th class="text-center"><%= @stage.matinee.strftime('%H:%M') %></th>
              <th class="text-center"><%= @stage.soiree.strftime('%H:%M') %></th>
            </tr>
          </thead>
          <tbody>
            <% (@stage.start_date..@stage.end_date).each do |date| %>
              <tr>
                <th scope="row" class="text-center"><%= date.mon %>月<%= date.day %>日(<%= %w(日 月 火 水 木 金 土)[date.wday] %>)</th>
                  <% if @stage.soirees.pluck(:performance_date).include?(date) %>
                    <td></td>
                    <td class="text-center">○</td>
                  <% else %>
                    <td class="text-center">○</td>
                    <td></td>
                  <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
    <div class="col-sm-6 offset-sm-1 mt-5">
      <label>劇場 :</label>
      <% if @stage.place.nil? %>
        <%= link_to "未登録", edit_stage_path(@stage), class:"btn btn-lg btn-outline-primary mb-3 ml-2" %>
      <% else %>
        <p class="ml-2 d-inline"><%= @stage.place.name %></p>
      <% end %>
      <% if @stage.place.latitude.present? %>
        <div id="map" class="mt-3 shadow w-100"></div>
      <% end %>
    </div>
  </div>
  <h1 class="mt-5 text-light py-3 pl-5" style="background-color: #4CA2FF;"><i class="fas fa-film mr-3"></i>関連映画</h1>
  <% @stage.tags.each do |tag| %>
    <h2 class="mt-5" style="color: #FC8300;"><%= tag.name %></h2>
    <hr>
    <div class="row row-cols-1 row-cols-md-2">
      <% tag.movies.limit(3).each do |movie| %>
        <div class="col mb-4">
          <div class="card  h-100 shadow-sm">
            <%= render partial: "movies/card", locals: { movie: movie, review: @review[movie.id] } %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<%= javascript_pack_tag "reviews/edit" %>

<script defer src=<%= ENV['MAP_KEY'] %>></script>

<script type="text/javascript">

  let map

  function initMap(){
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: <%= @lat %>, lng: <%= @lng %>},
      zoom: 15,
      disableDefaultUI: true,
      zoomControl: true
    });

    new google.maps.Marker({
      position:  {lat: <%= @lat %>, lng: <%= @lng %>},
      map: map
    });
  }
</script>