<div class="card-header">
  <%= post.country.name %>
  <div class="float-right">
    <% if post.production.present? %>
      <%= post.production.year %>年
    <% else %>
      未登録
    <% end %>
  </div>
</div>
<div class="card-body">
  <%= link_to movie_path(post), class:"text-dark", data: { "turbolinks" => false } do %>
    <strong class="card-title" style="font-size:1.8rem;"><%= post.title %></strong>
  <% end %>
  <p class="card-text"><%= post.sub_title %></p>
</div>
<div class="card-footer d-flex">
  <%= link_to favorite_movie_path(post), method: :post, remote: true, style:"color: #FF8300;" do %>
    <div class="favorite-movie-<%= post.id %>">
      <%= render partial: "movies/favorite", locals: {movie: post} %>
    </div>
  <% end %>
  <div class="review-movie-<%= post.id %>">
    <div class="d-flex">
      <% if review_present?(current_user, post) %>
        <div style="color: #FF8300; cursor:pointer;" data-toggle="modal" data-target="#reviewModal<%= post.id %>">
          <i class="far fa-check-circle ml-4"></i>
          <span class="ml-1 mb-0"><%= post.reviews.count %></span>
        </div>
      <% else %>
        <%= link_to movie_review_path(post.id, current_user), method: :delete, data: { confirm: 'レビューを削除します' } do %>
          <i class="fas fa-check-circle ml-4" style="color: #FF8300;"></i>
          <span class="ml-1 mb-0" style="color: #FF8300;"><%= post.reviews.count %></span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= form_with model: post.reviews.new, url: movie_reviews_path(post) do |f| %>
  <%= render partial: "posts/new_review", locals: {post: post, post_title: post, f: f} %>
<% end %>
<%= %>
