<% if review.theater_id.present? %>
  <div class="mr-2">
    <p class="mt-3 mb-4"><%= review.user.name %></p>
    <i class="fas fa-check-circle mr-2 fa-lg" style="color: #FF8300"></i>
    <%= link_to theater_path(review.theater), class:"font-weight-bold text-decoration-none text-dark" do %>
      <i class="fas fa-book-open fa-2x mr-3"></i>
      <strong><%= review.theater.title %></strong>
    <% end %>
    にレビューしました
    <p class="mt-2 border p-4 mr-5"><%= review.content %></p>
  </div>
<% elsif review.movie_id.present? %>
  <div class="mr-2">
    <p class="mt-3 mb-4"><%= review.user.name %></p>
    <i class="fas fa-check-circle mr-2 fa-lg" style="color: #FF8300"></i>
    <%= link_to movie_path(review.movie), class:"font-weight-bold text-decoration-none text-dark" do %>
      <i class="fas fa-film fa-2x mr-3"></i>
      <strong><%= review.movie.title %></strong>
    <% end %>
    にレビューしました
    <p class="mt-2 border p-4 mr-5"><%= review.content %></p>
  </div>
<% elsif review.stage_id.present? %>
  <div class="mr-2">
    <p class="mt-3 mb-4"><%= review.user.name %></p>
    <i class="fas fa-check-circle mr-2 fa-lg" style="color: #FF8300"></i>
    <%= link_to stage_path(review.stage), class:"text-decoration-none text-dark" do %>
      <i class="fas fa-theater-masks fa-2x mr-2"></i>
      <strong><%= review.stage.theater.title %></strong>
    <% end %>
    にレビューしました
    <p class="mt-2 border p-4 mr-5"><%= review.content %></p>
  </div>
<% end %>