<div class="card-header">
  <% if post.start_date < Date.today && post.end_date > Date.today %>
    <label class="badge badge-pill badge-warning text-light py-1" style="background-color: #FF8300;">Now</label>
  <% end %>
  <%= post.start_date.mon %>月<%= post.start_date.day %>日
  〜
  <% if post.start_date.mon != post.end_date.mon %>
    <%= post.end_date.mon %>月
  <% end %>
  <%= post.end_date.day %>日
</div>
<div class="card-body">
  <%= link_to stage_path(post.id), data: { "turbolinks" => false } do %>
    <p class="card-title text-dark" style="font-size:1.8rem;"><%= post.theater.title %></p>
  <% end %>
  <p class="card-text"><%= post.company %></p>
</div>
<div class="card-footer d-flex">
  <%= link_to favorite_stage_path(post), method: :post, remote: true, style:"color: #FF8300;" do %>
    <div class="favorite-stage-<%= post.id %>">
      <%= render partial: "stages/favorite", locals: {stage: post} %>
    </div>
  <% end %>
  <div class="review-stage-<%= post.id %>">
    <div class="d-flex">
      <% if review_present?(current_user, post) %>
        <div type="button" style="color: #FF8300;" data-toggle="modal" data-target="#reviewModal<%= post.id %>">
          <i class="far fa-check-circle ml-4"></i>
        </div>
      <% else %>
        <%= link_to stage_review_path(post.id, current_user), method: :delete, data: { confirm: 'レビューを削除します' } do %>
          <i class="fas fa-check-circle ml-4" style="color: #FF8300;"></i>
        <% end %>
      <% end %>
      <p class="ml-2 mb-0" style="color: #FF8300;"><%= post.reviews.count %></p>
    </div>
  </div>
</div>
<%= form_with model: post.reviews.new, url: stage_reviews_path(post) do |f| %>
  <%= render partial: "posts/review", locals: {post: post, post_title: post.theater, f: f} %>
<% end %>