<div class="container">
  <div id="posts" class="row px-3" style="margin-top:12vh; margin-bottom:8vh;">
    <% @posts.each do |post| %>
      <div class="card shadow p-0 mb-3 w-100 posts">
        <div class="d-flex">
          <%= link_to user_path(post.user) do %>
            <% if post.user.image.present? %>
              <%= image_tag post.user.image, class:"ml-4 ml-xl-5 my-4 mr-3", style:"width: 3.6rem; height: 3.6rem;" %>
            <% else %>
              <i class="fas fa-user my-4 mr-4 ml-xl-5 ml-4 pl-md-2 text-secondary" style="font-size: 3.1rem;"></i>
            <% end %>
          <% end %>
          <div class="w-100">
            <div class="mt-3 mr-3 mb-3 mr-lg-5">
              <% if post.like_id.present? %>
                <%= render partial: "posts/like", locals: {post: post} %>
              <% elsif post.review_id.present? %>
                <%= render partial: "posts/review", locals: {review: post.review} %>
              <% elsif post.theater_id.present? && post.like_id.nil? %>
                <div class="pr-5 pb-3">
                  <p class="mt-3 mb-4"><%= post.user.name %></p>
                  <label class="badge mr-3 p-sm-2 p-1 text-light" style="background-color: #FC8300;">New</label>
                  <label class=""><i class="fas fa-book-open fa-4x"></i></label>
                  <p class="ml-4 d-inline">新しい戯曲を登録しました</p>
                  <div class="card w-100 shadow-sm mt-4">
                    <%= render partial: "theaters/card", locals: {theater: post.theater, review: @theater_review[post.theater.id]} %>
                  </div>
                </div>
              <% elsif post.movie_id.present? && post.like_id.nil? %>
                <div class="pr-5 pb-3">
                  <p class="mt-3 mb-3"><%= post.user.name %></p>
                  <label class="badge mr-3 p-sm-2 p-1 text-light" style="background-color: #FC8300;">New</label>
                  <label class=""><i class="fas fa-film fa-5x"></i></label>
                  <p class="ml-4 d-inline">新しい映画を登録しました</p>
                  <div class="card w-100 shadow-sm mt-4">
                    <%= render partial: "movies/card", locals: {movie: post.movie, review: @movie_review[post.movie.id]} %>
                  </div>
                </div>
              <% elsif post.stage_id.present? && post.like_id.nil? %>
                <div class="pr-5 pb-3">
                  <p class="mt-3 mb-4 pb-1"><%= post.user.name %></p>
                  <label class="badge mr-3 p-sm-2 p-1 text-light" style="background-color: #FC8300;">New</label>
                  <label class=""><i class="fas fa-theater-masks fa-4x"></i></label>
                  <p class="ml-4 d-inline">新しい舞台を登録しました</p>
                  <div class="card w-100 shadow-sm mt-4">
                    <%= render partial: "stages/card", locals: {stage: post.stage, review: @stage_review[post.stage.id]} %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <% if post.review_id.present? && post.like_id.nil? && post.user_id != current_user.id %>
          <%= render partial: "reviews/like", locals: {review: post.review} %>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= paginate @posts %>
</div>

<script src="https://unpkg.com/infinite-scroll@4/dist/infinite-scroll.pkgd.min.js"></script>
<script>
$(document).ready(function() {
  new InfiniteScroll('#posts', {
    path: 'nav.pagination a[rel=next]',
    append: '.posts',
    history: false,
    hideNav: '.pagination',
    status: '.page-load-status'
  });
});
</script>