<div class="row mt-5">
  <% @posts.each do |post| %>
    <div class="col-10 col-md-8 col-lg-6 offset-1 offset-md-2 offset-lg-3 card p-0 mb-3">
      <div class="d-flex align-items-center">
        <%= image_tag User.find(post.user_id).image, class:"m-3", style:"width: 3.6rem; height: 3.6rem;" %>
        <div class="w-100">
          <div class="d-flex justify-content-between mt-3 mr-3">
            <label><%= User.find(post.user_id).name %></label>
            <label><%= post.created_at.month %>月<%= post.created_at.day %>日</label>
          </div>
          <div class="d-flex align-items-end">
            <div class="badge badge-info mb-3 mr-3 p-2 d-none d-sm-block" style="background-color: #FF8300;">New</div>
            <% if post.theater_id.present? %>
              <label class="badge badge-secondary mb-3 mr-3 p-2">戯曲</label>
              <h2>『 <%= Theater.find(post.theater_id).title %> 』</h2>
            <% elsif post.movie_id.present? %>
              <label class="badge badge-secondary mb-3 mr-3 p-2">映画</label>
              <h2>『 <%= Movie.find(post.movie_id).title %> 』</h2>
            <% elsif post.stage_id.present? %>
              <label class="badge badge-secondary mb-3 mr-3 p-2">舞台</label>
              <h2>『 <%= Theater.find((Stage.find(post.stage_id)).theater_id).title %> 』</h2>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>