<div class="card-footer">
  <% if post.theater_id.present? %>
    <%= link_to favorite_theater_review_path(post.theater_id, post), method: :post, remote: true, style:"color: #FF8300;" do %>
      <div id="favorite-review-<%= post.id %>" class="ml-4">
        <%= render partial: "reviews/favorite", locals: {review: post} %>
      </div>
    <% end %>
  <% elsif post.movie_id.present? %>
    <%= link_to favorite_movie_review_path(post.movie_id, post), method: :post, remote: true, style:"color: #FF8300;" do %>
      <div id="favorite-review-<%= post.id %>" class="ml-4">
        <%= render partial: "reviews/favorite", locals: {review: post} %>
      </div>
    <% end %>
  <% elsif post.stage_id.present? %>
    <%= link_to favorite_stage_review_path(post.stage_id, post), method: :post, remote: true, style:"color: #FF8300;" do %>
      <div id="favorite-review-<%= post.id %>" class="ml-4">
        <%= render partial: "reviews/favorite", locals: {review: post} %>
      </div>
    <% end %>
  <% end %>
</div>