<% if @reviews.present? %>
  <% @reviews.each do |review| %>
    <div class="card shadow">
      <div class="card-header d-flex justify-content-between align-items-center pt-3 px-3">
        <div>
          <%= link_to user_path(review.user), class:"text-decoration-none" do %>
            <% if review.user.image.present? %>
              <%= image_tag review.user.image, class:"rounded-circle", style:"width: 3.0rem; height: 3.0rem;" %>
            <% else %>
              <i class="fas fa-user mx-2 pt-1" style="font-size: 2.0rem;"></i>
            <% end %>
            <label class="text-secondary"><%= review.user.name %></label>
          <% end %>
        </div>
        <label><%= review.created_at.mon %>月<%= review.created_at.day %>日</label>
      </div>
      <div class="card-body">
        <p class="m-3"><%= review.content %></p>
      </div>
      <div class="card-footer">
        <% if review.theater.present? %>
          <%= link_to favorite_theater_review_path(review.theater_id, review), method: :post, remote: true, style:"color: #FF8300;" do %>
            <div id="favorite-review-<%= review.id %>" class="ml-4">
              <%= render partial: "reviews/favorite", locals: {review: review} %>
            </div>
          <% end %>
        <% elsif review.movie.present? %>
          <%= link_to favorite_movie_review_path(review.movie_id, review), method: :post, remote: true, style:"color: #FF8300;" do %>
            <div id="favorite-review-<%= review.id %>" class="ml-4">
              <%= render partial: "reviews/favorite", locals: {review: review} %>
            </div>
          <% end %>
        <% elsif review.stage.present? %>
          <%= link_to favorite_stage_review_path(review.stage_id, review), method: :post, remote: true, style:"color: #FF8300;" do %>
            <div id="favorite-review-<%= review.id %>" class="ml-4">
              <%= render partial: "reviews/favorite", locals: {review: review} %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <p class="text-center mt-4">他のユーザーのレビューはまだありません。</p>
<% end %>
