<div class="card-header pl-4">
  <%= theater.country.name %>
</div>
<div class="card-body pl-4">
  <%= link_to theater_path(theater), data: { "turbolinks" => false } do %>
    <h2 class="card-title text-dark mt-3"><strong><%= theater.title %></strong></h2>
  <% end %>
  <p class="card-text my-3">作者 : <%= theater.writer %></p>
  <% if theater.man.nil? && theater.female.nil? %>
    <label class="align-items-end d-flex">
      登場人数 : 
      <%= link_to "未登録", edit_theater_path(theater), class:"ml-3 btn btn-sm btn-outline-primary py-2" %>
    </label>
  <% else %>
    男 : <%= theater.man%>人 / 
    女 : <%= theater.female%>人
  <% end %>
</div>
<div class="card-footer d-flex pl-4">
  <%= link_to favorite_theater_path(theater), method: :post, remote: true, style:"color: #4CA2FF;" do %>
    <div class="favorite-theater-<%= theater.id %>">
      <%= render partial: "theaters/favorite", locals: {theater: theater} %>
    </div>
  <% end %>
  <div class="review-theater-<%= theater.id %>">
    <div class="d-flex">
      <% if review.nil? %>
        <div style="color: #4CA2FF; cursor: pointer" data-toggle="modal" data-target="#reviewModal<%= theater.id %>">
          <i class="far fa-check-circle ml-4"></i>
          <span class="ml-1 mb-0"><%= theater.reviews.size %></span>
        </div>
      <% else %>
        <%= link_to review_path(review, review_page: request.url), method: :delete, remote: true, data: { confirm: 'レビューを削除します' } do %>
          <i class="fas fa-check-circle ml-4" style="color: #4CA2FF;"></i>
          <span class="ml-1 mb-0" style="color: #4CA2FF;"><%= theater.reviews.size %></span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= form_with model: theater.reviews.new, url: theater_reviews_path(theater) do |f| %>
  <%= render partial: "reviews/modal", locals: {review: theater, review_title: theater, f: f} %>
<% end %>