<div class="container">
  <div class="row">
    <div class="d-none d-lg-block col-lg-2">
      <%= render partial: "theaters/sidebar" %>
    </div>
    <div class="col-lg-10">
      <div class="d-flex align-items-end">
        <h2 class="mt-5 mb-3 text-light p-3 d-inline-block rounded" style="background-color: #4CA2FF;">
          <i class="fas fa-book-open"></i>
          <% if @country.present? %>
            <%= @country.name %>の戯曲
          <% else %>
            戯曲一覧
          <% end %>
        </h2>
        <%= form_with url: theaters_path, method: :get, local: true, class:"form-inline ml-3 pb-3" do |f| %>
          <% if @country.present? %>
            <%= f.hidden_field :sort_country, value: @country.id %>
          <% end %>
          並び替え
          <% if @sorted.present? %>
            <%= f.select :sort, @sort_list, selected: @sorted, onChange: "javascript: this.form.submit();", class:"form-inline ml-2" %>
          <% else %>
            <%= f.select :sort, @sort_list, {}, onChange: "javascript: this.form.submit();", class:"form-inline ml-2" %>
          <% end %>
        <% end %>
      </div>
      
      <div class="row row-cols-4">
        <% @theaters.each do |theater| %>
          <div class="col mb-4">
            <div class="card h-100 shadow-sm">
              <div class="card-header">
                <%= Country.find(theater.country_id).name %>
                <div class="float-right">
                  <% if theater.man.nil? && theater.female.nil? %>
                    <%= link_to "未登録", edit_theater_path(theater), class:"badge badge-pill badge-warning text-light py-2", style:"background-color: #FF8300;" %>
                  <% else %>
                    男<%= theater.man%>
                    女<%= theater.female%>
                  <% end %>
                </div>
              </div>
              <div class="card-body">
                <%= link_to theater_path(theater) do %>
                  <p class="card-title text-dark" style="font-size:1.8rem;"><%= theater.title %></p>
                <% end %>
                <p class="card-text"><%= theater.writer %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <%= paginate @theaters %>
      <%= link_to new_theater_path, class:"btn btn-primary w-25 my-5", local: true do %>
        新しく戯曲を登録
      <% end %>
    
    </div>
  </div>
</div>