<div class="container">
  <div class="row">
    <div class="d-none d-lg-block col-lg-2">
      <%= render partial: "theaters/sidebar" %>
    </div>
    <div class="col-lg-10">
      <h2 class="mt-5 mb-3 text-dark p-3 d-inline-block rounded border border-dark">
        <i class="fas fa-book-open"></i>
        <% if @country.present? %>
          <%= @country.name %>の戯曲
        <% else %>
          戯曲一覧
        <% end %>
      </h2>
    
      <div class="d-flex flex-inline">
        <%= form_with url: theaters_path, method: :get, local: true, class:"d-flex pb-3" do |f| %>
          <%= f.text_field :keyword, placeholder:"作品名・作者名", class: "w-75" %>
          <%= f.submit "検索", class:"btn btn-outline-secondary ml-3" %>
        <% end %>
        <p class="align-items-center d-flex ml-3">合計<%= @total_count %>件</p>
      </div>

      <%= form_with url: theaters_path, method: :get, local: true, class:"form-inline mb-3" do |f| %>
        <% if @country.present? %>
          <%= f.hidden_field :sort_country, value: @country.id %>
        <% end %>
        <%= f.hidden_field :sort_keyword, value: @keyword %>
        <% if @sorted.present? %>
          <%= f.select :sort, @sort_list, selected: @sorted, onChange: "javascript: this.form.submit();", class:"form-inline" %>
        <% else %>
          <%= f.select :sort, @sort_list, {}, onChange: "javascript: this.form.submit();", class:"form-inline" %>
        <% end %>
      <% end %>
      
      <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
        <% @theaters.each do |theater| %>
          <div class="col mb-4">
            <div class="card h-100 shadow-sm">
              <%= render partial: "theaters/card", locals: {theater: theater, review: @review[theater.id]} %>
            </div>
          </div>
        <% end %>
      </div>

      <%= paginate @theaters %>
      <div class="btn btn-lg btn-primary float-right position-fixed rounded p-2" style="bottom:10vh; right:5vw;" data-toggle="modal" data-target="#newModal">
        <i class="fas fa-plus fa-2x mr-md-2"></i>
        <label class="d-none d-md-inline">新しく戯曲を登録する</label>
      </div>
      <%= render partial: "theaters/new_modal" %>
    </div>
  </div>
</div>

<script>
  $('#newModal').on('shown.bs.modal', function (){
    $('#theater_title').trigger('focus');
  });
</script>