<div class="container w-75">
  <h2 class="mt-5 mb-3 bg-secondary text-light p-3 d-inline-block rounded">戯曲一覧 <i class="fas fa-book-open" style="color: #fbff00;"></i></h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>題名</th>
        <th>作者</th>
        <th>男</th>
        <th>女</th>
      </tr>
    </thead>
    <tbody>
      <% @theaters.each do |theater| %>
        <tr>
          <td scope="row" ><%= theater.title %></td>
          <td><%= theater.writer %></td>
          <td><%= theater.man %></td>
          <td><%= theater.female %></td>
          <td><%= link_to "編集", edit_theater_path(theater), class:"btn btn-outline-secondary" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "戯曲を登録する", new_theater_path, class:"btn btn-primary w-25 mt-3" %>
</div>
