<h1>Theaters#new</h1>

<%= form_with model: @theater do |f| %>
  <%= f.text_field :title %>
  <%= f.text_field :writer %>
  <%= f.text_field :country %>
  <%= f.number_field :men %>
  <%= f.number_field :female %>
  <%= f.text_field :translator %>
  <%= f.text_field :record %>
  <%= f.text_field :publication %>
<% end %>

<%= link_to "Back", theaters_path %>

