<h1>Theaters#show</h1>

<%= @theater.title %>
<%= @theater.writer %>
<%= @theater.country %>
<%= @theater.man %>
<%= @theater.female %>
<%= @theater.translator %>
<%= @theater.include %>
<%= @theater.publication %>
<%= link_to "Edit", edit_theater_path(@theater) %>
<%= link_to "Delete", theater_path(@theater), method: :delete, data: { confirm: 'Are you sure?' } %>

<%= link_to "Back", theaters_path %>
