<div class="container" style="margin-top:12vh;">
  <div class="align-items-end d-flex justify-content-between border py-3 px-5">
    <div class="align-items-start d-flex">
      <h1 class="font-weight-bold"><%= @theater.title %></h1>
      <%= link_to favorite_theater_path(@theater), method: :post, remote: true, class:"ml-4 mt-2", style:"color: #FF8300;" do %>
        <h2 class="favorite-theater-<%= @theater.id %>">
          <%= render partial: "theaters/favorite", locals: {theater: @theater} %>
        </h2>
      <% end %>
    </div>
    <h2 class="ml-2 d-none d-md-inline"><%= @theater.country.name %></h2>
  </div>
  <div class="text-right">
    <% if current_user.id == 1 %>
      <%= link_to "編集", edit_theater_path(@theater), class:"btn btn-sm btn-outline-secondary mb-2 d-inline-block mt-3" %>
      <%= link_to "削除", theater_path(@theater), method: :delete, data: { confirm: '本当に削除しますか？' }, class:"btn btn-sm btn-danger ml-3 mb-2 d-inline-block mt-3" %>
    <% end %>
  </div>
  <div class="mt-3">
    <h2>
      <span class="mx-4 d-inline-block" style="font-size: 1.4rem;">作者 : </span><%= @theater.writer %><br>
      <% if @theater.man.nil? && @theater.female.nil? %>
        <span class="ml-4 mt-4 d-inline" style="font-size: 1.4rem;">登場人数 : </span>
        <%= link_to "未登録", edit_theater_path(@theater), class:"btn btn-outline-primary my-3 ml-2" %>
      <% else %>
        <span class="mx-4 mt-5 mb-4 d-inline-block" style="font-size: 1.4rem;">男 : </span><%= @theater.man %> 人
        <span class="mx-4 d-inline-block" style="font-size: 1.4rem;">女 : </span><%= @theater.female %> 人
      <% end %>
      <br>
      <span class="mx-4 d-md-none" style="font-size: 1.4rem;">製作国 : </span>
      <span class="d-md-none"><%= @theater.country.name %></span>
    </h2>
  </div>
  <div class="row mt-3">
    <div class="col-sm-6 text-left">
      <div class="card shadow mt-4">
        <div class="card-header d-flex justify-content-between">
          <label><i class="fas fa-check-circle mr-2" style="color: #FF8300;"></i>My Review</label>
          <% if @my_review.present? %>
            <label class="text-right"><%= @my_review.updated_at.mon %>月<%= @my_review.updated_at.day %>日</label>
          <% end %>
        </div>
        <% if @my_review.nil? %>
          <%= form_with model: @new_review, url: theater_reviews_path(@theater) do |f| %>
            <div class="card-body">
              <%= f.label :rate, "評価", class:"mr-1" %>
              <i class="fas fa-star mr-2" style="color: #FC8300;"></i>
              <%= f.number_field :rate, in: 1..5, step: 0.5, class:"w-25 mb-2 form-control d-inline" %>
              <%= f.text_area :content, size: "20x10", class:"form-control mr-2 " %>
            </div>
            <div class="card-footer text-right">
              <%= f.hidden_field :review_page, value: request.url %>
              <%= f.submit "レビュー", class:"btn btn-primary ml-2" %>
            </div>
          <% end %>
        <% else %>
          <div class="card-body">
            <%= form_with model: @my_review, url: review_path(@my_review), local: true, method: :put do |f| %>
              <div class="collapse show userReview">
                <p class="mt-3">
                  <i class="fas fa-star mr-2" style="color: #FC8300;"></i>
                  <%= @my_review.rate %>
                </p>
                <p class="mt-3"><%= @my_review.content %></p>
              </div>
              <div class="collapse editUserReview">
                <div class="d-flex align-items-center">
                  <i class="fas fa-star mr-2 align-content-center mb-2" style="color: #FC8300;"></i>
                  <%= f.number_field :rate, in: 1..5, step: 0.5, class:"w-25 mb-2 form-control" %>
                </div>
                <%=
                  f.text_area :content, size: "20x5", autofocus: "true", value: @my_review.content, class:"form-control mr-2"
                %>
                <%= f.hidden_field :review_page, value: request.url %>
                <%= f.submit "更新", class:"btn btn-primary mt-3 float-right" %>
              </div>
            </div>
            <div class="card-footer text-right">
              <span id="review-edit" class="userReviewEditLabel user-edit-label btn btn-outline-secondary">
                編集
              </span>
              <%= link_to  "削除", review_path(@my_review, review_page: request.url), method: :delete, data: { confirm: 'レビューを削除します' }, class:"btn btn-outline-danger" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card shadow-sm mt-4 p-3">
        <%= render "reviews/index" %>
      </div>
    </div>
  </div>
  <div>
    <% if @theater.stages.present? %>
      <h1 class="mt-5 text-light py-3 pl-5" style="background-color: #4CA2FF;"><i class="fas fa-theater-masks mr-3"></i>上演履歴</h1>
      <% @theater.stages.each do |stage| %>
        <div class="row row-cols-1 row-cols-lg-2 my-4 mx-1">
            <div class="card h-100 shadow-sm">
              <%= render partial: "stages/card", locals: { stage: stage, review: @review[stage.id] } %>
            </div>
          </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= javascript_pack_tag "reviews/edit" %>