<header>
  <nav class="navbar navbar-expand-md navbar-light bg-light shadow-sm">
    <div class="container">
      <a class="navbar-brand mr-md-5" href="#" style="font-family: 'Dancing Script', cursive;"><i class="fas fa-users mr-2"></i>Actor Connection</a>
      <form class="form-inline d-none d-sm-inline">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-dark" type="submit">検索</button>
      </form> 
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse align-items-center" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto justify-content-between">
          <% if user_signed_in? %>
            <li class="align-self-center mr-md-3">
              <%= link_to theaters_path, class:"text-dark text-decoration-none" do %>
                <i class="fas fa-book-open"></i>
                戯曲一覧
              <% end %>
            </li>
            <li class="align-self-center mr-md-5">
              <%= link_to stages_path, class:"text-dark text-decoration-none" do %>
                <i class="fas fa-theater-masks"></i>
                公演情報
              <% end %>
            </li>
            <li class="align-self-center mr-md-5">
              <%= link_to mypage_favorite_users_path, class:"text-dark text-decoration-none" do %>
                <i class="fas fa-heart"></i>
                お気に入り一覧
              <% end %>
            </li>
            <li class="nav-item dropdown">
              <%= link_to "#", id: "navbarDropdown", class: "nav-link dropdown-toggle", role: "button", data: { toggle: "dropdown" }, aria: { haspopup: "true", expanded: "false" } do %>
                <%= current_user.name %> <span class="caret"></span>
              <% end %>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <%= link_to "マイページ", "#", class: "dropdown-item", action: logout_path, onclick: "event.preventDefault(); document.getElementById('logout-form').submit();" %>
                <%= form_with url: mypage_users_path, method: "get", id: "logout-form" do |f| %>
                  <%= f.submit style: "display: none;"%>
                <% end %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "登録", new_user_registration_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
