<header>
  <nav class="navbar navbar-expand navbar-light bg-light shadow-sm">
    <div class="container">
      <a class="navbar-brand mr-md-5" href="/posts" style="font-family: 'Dancing Script'; font-size: 2.1rem;, cursive;"><i class="fas fa-users mr-2 fa-lg"></i>Actor Connection</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse align-items-center" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto justify-content-between">
          <% if user_signed_in? %>
            <li class="align-self-center mr-4">
              <%= link_to theaters_path, class:"text-dark text-decoration-none" do %>
                <i class="fas fa-book-open fa-2x"></i>
                <span class="d-none d-lg-inline">戯曲</span>
              <% end %>
            </li>
            <li class="align-self-center mr-4">
              <%= link_to stages_path, class:"text-dark text-decoration-none" do %>
                <i class="fas fa-theater-masks fa-2x"></i>
                <span class="d-none d-lg-inline">舞台</span>
              <% end %>
            </li>
            <li class="align-self-center mr-4">
              <%= link_to movies_path, class:"text-dark text-decoration-none" do %>
                <i class="fas fa-film fa-2x"></i>
                <span class="d-none d-lg-inline">映画</span>
              <% end %>
            </li>
            <li class="align-self-center mr-4">
              <%= link_to mypage_favorite_users_path, class:"text-dark text-decoration-none" do %>
                <i class="fas fa-star fa-2x"></i>
                <span class="d-none d-lg-inline">お気に入り</span>
              <% end %>
            </li>
            <li class="align-self-center mr-5">
              <%= link_to mypage_favorite_users_path, class:"text-dark text-decoration-none" do %>
                <i class="fas fa-check-circle fa-2x"></i>
                <span class="d-none d-lg-inline">レビュー</span>
              <% end %>
            </li>
            <li class="nav-item dropdown">
              <%= link_to "#", id: "navbarDropdown", class: "nav-link dropdown-toggle", role: "button", data: { toggle: "dropdown" }, aria: { haspopup: "true", expanded: "false" } do %>
                <% if current_user.image.present? %>
                  <%= image_tag current_user.image, class:"rounded-circle", style:"height: 2.4rem;" %>
                <% else %>
                  <i class="fas fa-user"></i>
                <%end%>
                <%= current_user.name %>
                <span class="caret"></span>
              <% end %>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <%= link_to "登録情報", mypage_users_path, method: :get, class: "dropdown-item" %>
                <div class="dropdown-divider"></div>
                <%= link_to "ログアウト", logout_path, method: :get, class: "dropdown-item" %>
                <% if current_user.id == 1 %>
                  <%= link_to "管理者画面", dashboard_users_path, method: :get, class: "dropdown-item" %>
                <% end %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "登録", new_user_registration_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
