<!DOCTYPE html>
<html>
  <head>
    <title>ActorConnection</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/88dab653da.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render partial: "layouts/header" if current_user %>
    <% if flash[:notice] %>
      <div class="alert alert-info text-center">
        <%= flash[:notice] %>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger text-center">
        <%= flash[:alert] %>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    <% end %>
    <%= yield %>
    <%= render partial: "layouts/footer" %>
  </body>
</html>
