<!DOCTYPE html>
<html>
  <head>
    <title>ActorConnection</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/88dab653da.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
  </head>

  <body>
    <%= render partial: "layouts/header" %>
    <% if flash[:notice] %>
      <div class="alert alert-info text-center position-absolute w-100" style="top:10vh; z-index: 10;" >
        <%= flash[:notice] %>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger text-center position-absolute w-100" style="top:10vh; z-index: 10;">
        <%= flash[:alert] %>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    <% end %>
    <%= yield %>
    <%= render partial: "layouts/footer" %>
  </body>
</html>
