<div class="container p-0 w-50 text-center ">
  <div class="row">
      <h2 class="mt-5 mb-lg-3 offset-lg-1">会員登録</h2>
  </div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="form-group row mb-1">
      <% if resource.errors.messages[:name].present? %>
        <strong class="error-text"><%= resource.errors.full_messages_for(:name).first %></strong>
      <% end %>
    </div>
    <div class="form-group row">
      <%= f.label :name, "名前", class:"col-lg-4 offset-lg-1 col-form-label text-left px-0" %>
      <%= f.text_field :name, autofocus: true, class:"form-control col-lg-6" %>
    </div>
    <div class="form-group row mb-1">
      <% if resource.errors.messages[:email].present? %>
        <strong class="error-text offset-lg-1"><%= resource.errors.full_messages_for(:email).first %></strong>
      <% end %>
    </div>
    <div class="form-group row">
      <%= f.label :email, "メールアドレス", class:"col-lg-4 offset-lg-1 col-form-label text-left px-0" %>
      <%= f.email_field :email, autofocus: true, class:"form-control col-lg-6" %>
    </div>
    <div class="form-group row">
      <%= f.label :birthday, "生年月日", class:"col-lg-4 offset-lg-1 col-form-label text-left px-0" %>
      <%= f.date_select :birthday, use_month_numbers: true, default: Date.new(1989, 1, 1), class:"form-control col-lg-6" %>
    </div>
    <div class="form-group row mb-1">
      <% if resource.errors.messages[:sex].present? %>
        <strong class="error-text"><%= resource.errors.full_messages_for(:sex).first %></strong>
      <% end %>
    </div>
    <div class="form-group row my-0">
      <%= f.label :sex, "性別", class:"col-lg-4 offset-lg-1 col-form-label text-left px-0" %>
      <div class="form-check col-lg-2 col-4 text-left p-0">
        <%= f.radio_button :sex, 0 %>
        <%= f.label :男性 %> 
      </div>
      <div class="form-check col-lg-2 col-4 text-left p-0">
        <%= f.radio_button :sex, 1 %>
        <%= f.label :女性 %> 
      </div>
      <div class="form-check col-lg-2 col-4 text-left p-0">
        <%= f.radio_button :sex, 9%>
        <%= f.label :秘密 %>
      </div>
    </div>
    <div class="form-group row mb-1">
      <% if resource.errors.messages[:password].present? %>
        <strong class="error-text offset-lg-1"><%= resource.errors.full_messages_for(:password).first %></strong>
      <% end %>
    </div>
    <div class="form-group row">
      <%= f.label :password, "パスワード", class:"col-lg-4 offset-lg-1 col-form-label text-left px-0" %>
      <%= f.password_field :password , autocomplete: "new-password", class:"form-control col-lg-6" %>
    </div>
    <div class="form-group row mb-1">
      <% if resource.errors.messages[:password_confirmation].present? %>
        <strong class="error-text offset-lg-1"><%= resource.errors.full_messages_for(:password_confirmation).first %></strong>
      <% end %>
    </div>
    <div class="form-group row">
      <%= f.label :password_confirmation, "パスワード(確認用)", class:"col-lg-4 offset-lg-1 col-form-label text-left px-0" %>
      <%= f.password_field :password_confirmation , autocomplete: "new-password", class:"form-control col-lg-6" %>
    </div>
    <div class="form-group text-right row">
      <%= f.submit "アカウント作成", class:"btn btn-primary mt-3 col-lg-3 offset-lg-8" %>
    </div>
  <% end %>
  <div class="row">
    <%= render "users/shared/links" %>
  </div>
</div>

